@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;padding: 0;box-sizing: border-box;font-family: 'Smooch Sans', sans-serif;
    letter-spacing: 1px;
}

.container{
    background-color: rgb(106, 0, 206);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: aliceblue;
    height: 600px;
    width: 400px;
    border-radius: 10px;
    border: 5px solid rgb(68, 0, 107);
}
.main h3{
    margin: 30px;
    text-align: center;
    font-size: 30px;
}
.main img{
    width: 400px;
    height: 200px;
}
.main p{
    font-weight: 500;
    letter-spacing: 2px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}
.buttons{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
button{
    font-size: 20px;
    background-color: rgb(68, 0, 107);
    border-radius: 10px;
    padding: 10px 30px;
    font-weight: 500;
    margin: 10px 80px;
    color: #fff;
    cursor: pointer;
}

.playzone{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newgame{
    margin: 20px;
    display: flex;
    justify-content: center;
}
.zone{
    background-color: aliceblue;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    border: 5px solid rgb(68, 0, 107);
}
.zone h2{
    margin: 20px;
    text-align: center;
    font-size: 30px;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input{
    border: 1px solid rgba(0, 0, 0, 0.205);
    border-radius: 5px;
    padding: 10px 20px;
    margin: auto;
    width: 250px;
    font-size: 20px;
}
.stats{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.info{
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
}
.info span{
    margin: 0 40px;
    color: red;
}
.info p{
    margin: 0 40px;
}

.made h5{
    margin: 20px;
    text-align: center;
    font-size: 20px;

}










@media(max-width:700px){
    .main{
        height: 600px;
        width: 300px; 
    }
    .main img{
        width: 300px;
    }
    .zone{
        width: 300px;
        height: 500px;
    }
    .info span{
        margin: 0 10px;
    }
    .info p{
        margin: 0 10px;
    }
    button{
        margin: 10px 40px;
        
    }
    
}